* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.back-img{
  display: block;
}

.header{
  position: absolute;
  width: 100%;
  z-index: 1;
}

.wrapper{
  padding: 21px 32px;
}
.hero{
  background-image: url("https://i.postimg.cc/9QZnRW1R/background.png");
  min-height: 720px;
  position: relative;
}
.top{
  min-height: 720px;
}
.container{
  margin: 0 auto;
  max-width: 825px;
  padding: 0 20px;
}
.hero article{
  position: absolute;
   top: 50%; 
   left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
}
.heading {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 53px;
}

.logo{
  display: inline-block;
}

.ca-logo {
  display: block;
  width: 173px;
  height: 26px;
}

.font-fam,h1,h4, h3{
  font-family: "Lato", sans-serif;
}

.top-section{
  padding: 72px 0 30px 0;
}

.common-margin{
  margin: 0px 151px;
}

.big-text {
  font-size: 15px;
  margin-bottom: 30px;
  line-height: 1.2;
  color: #293340;
  font-weight: normal;

}

.sm-text {
  margin-bottom: 30px;
  line-height: 1.38;
  color: #293340;
  font-size: 13px;
}

.blank-img {
  width: 666px;
  height: 480px;
  margin: 0 auto;
  display: block;
}

h4{
  font-size: 19px;
}

.head-color{
  color: #363d4f;
}
.sub-head-top {

  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.txt-color{
  color: #6d7783;
}
.text-prop{
  margin-bottom: 19px;
  line-height: 1.23;
  
}

.list {
  margin: 0 150px;
  margin-bottom: 30px;
  list-style: none;
}

.list-data {
  font-size: 13px;
  line-height: 1.23;
}

.list-data::before {
  content: "• ";
  color: #0000ff;
}

.top-text{
  padding: 0 39px;
  margin-bottom: 10px;
  font-weight: 300;
  line-height: 1.42;
}

.blue-img {
  width: 501px;
  height: 120px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.sub-head {
  font-weight: 500;
  margin-bottom: 14px;
  line-height: 1.29;
  letter-spacing: -0.07px;
}

.bottom-txt, .card p, footer p{
  font-size: 10px;
}

.bottom-txt {
  font-family: "Poppins";
  line-height: 1.6;
}

.bottom-section{
  padding: 30px 0;
}

.card-heading {
  text-transform: uppercase;
 text-align: center;
  margin-bottom:19px;
  font-size: 22.7px;
  font-weight: 500;
  line-height: 1.5;
}

.h-rule{
  margin: 0 auto;
  width: 58px;
  border-bottom: 1px solid #0000ff;
}

.card-container {
  text-align: center;
  margin-top: 20px;
}

.card {
  display: inline-block;
  text-align: left;
}

.middle-card{
  margin: 0 20px 0 20px;
}

.card  img {
  width: 246px;
  height: 307px;
}

.card-text{
  width: 246px;
  line-height: 2;
}

.card-head{
  font-size: 12px;
  font-weight: 500;
  line-height: 2.25;
}

footer {
  background-color: #1f2026;
  padding-top: 17px;
  padding-bottom: 19px;
}


.footer-text{
  font-family: "Roboto";
  color: #ffffff;
}


