* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero-container{
  position: relative;
}
.back-img{
  display: block;
}

header{
  position: absolute;
  top: 0;
  width: 100%;
  padding: 32px;
}

header a{
  /* display: inline-block; */
}

header a img {
  display: block;
  width: 173px;
  height: 26px;
}

.font-fam,h1,h4, h3{
  font-family: "Lato", sans-serif;
}

.hero-head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #ffffff;
  font-size: 53px;
  text-align: center;
}

main{
  /* padding: 72px 0 30px 0;
  min-width: 1024px; */
}
.top-section{
  padding: 72px 0 30px 0;
  width: 100%;
}



.big-text {
  font-size: 15px;
  
  max-width: 501px;
  margin: 0px auto;
  padding: 0 10px;
  line-height: 1.2;
  color: #293340;
  font-weight: normal;

}



.sm-text {
  
  max-width: 501px;
  margin: 30px auto;
  padding: 0 10px;
  line-height: 1.38;
  color: #293340;
  font-size: 13px;
}

.blank-img {
  max-width: 666px;
  height: 480px;
  margin: 0 auto;
  display: block;
}

h4{
  font-size: 19px;
}

.sub-head-top {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 500px;
  text-transform: uppercase;
  font-weight: 500;
  color: #363d4f;
}
.middle-section{
  width: 100%;
}
.text-prop{
  margin: 15px auto 19px auto;
  line-height: 1.23;
  color: #6d7783;
}

.list {
  width: 501px;
  margin: 0 auto;
  list-style: none;
}

.list-data {
  font-size: 13px;
  line-height: 1.23;
  color: #6d7783;
}

.list-data::before {
  content: "• ";
  color: #0000ff;
}

.top-text{
  max-width: 420px;
  margin: 30px auto 10px auto;
  font-weight: 300;
  line-height: 1.42;
  color: #6d7783;
}

main #blue-img {
  width: 501px;
  height: 120px;
  display: block;
  margin: 0 auto;
}

.sub-head {
  max-width: 500px;
  margin: 30px auto 14px auto;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.07px;
  color: #363d4f;
  padding: 0;
}

.bottom-txt, .card p, footer p{
  font-size: 10px;
}

.bottom-txt {
  max-width: 502px;
  margin: 0 auto;
  font-family: "Poppins";
  line-height: 1.6;
  color: #6d7783;
}

.bottom-section{
  padding: 30px 0;
  width: 100%;
}

.card-heading {
  text-transform: uppercase;
 text-align: center;
  margin: 30px 0 19px 0;
  font-size: 22.7px;
  font-weight: 500;
  line-height: 1.5;
  color: #363d4f;
}


hr{
  margin: 0 auto;
  width: 58px;
  border-bottom: 1px solid #0000ff;
}

.card-container {
  text-align: center;
  margin-top: 20px;
}

.card {
  display: inline-block;
  text-align: left;
}

.middle-card{
  margin: 0 20px 0 20px;
}

.card  img {
  width: 246px;
  height: 307px;
}

.card-text{
  width: 246px;
  line-height: 2;
  color: #6d7783;
}

.card-head{
  font-size: 12px;
  font-weight: 500;
  line-height: 2.25;
  color: #363d4f;
}

footer {
  background-color: #1f2026;
  padding-right: 403px;
  padding-top: 17px;
  padding-bottom: 19px;
}


.footer-text{
  font-family: "Roboto";
  color: #ffffff;
  max-width: 385px;
  margin: 0 auto;
  
}


